Exemples/MIAGE.Exemple.Client/Connected Services/PaysService/PaysService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6493/PaysService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" />
  <xs:element name="GetAllPAys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPAysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" minOccurs="0" name="GetAllPAysResult" nillable="true" type="q1:ArrayOfPays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaysById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaysByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" minOccurs="0" name="GetPaysByIdResult" nillable="true" type="q2:Pays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>