Exemples/MIAGE.Exemple.Client/Connected Services/PaysService/PaysService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPays">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pays" nillable="true" type="tns:Pays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPays" nillable="true" type="tns:ArrayOfPays" />
  <xs:complexType name="Pays">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pays" nillable="true" type="tns:Pays" />
</xs:schema>