Exemples/MIAGE.Exemple.Client/Connected Services/PaysService/PaysService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaysService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6493/PaysService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6493/PaysService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6493/PaysService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIAGE.Exemple.WCF.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaysService_GetAllPAys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPAys" />
  </wsdl:message>
  <wsdl:message name="IPaysService_GetAllPAys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPAysResponse" />
  </wsdl:message>
  <wsdl:message name="IPaysService_GetPaysById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaysById" />
  </wsdl:message>
  <wsdl:message name="IPaysService_GetPaysById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaysByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaysService">
    <wsdl:operation name="GetAllPAys">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaysService/GetAllPAys" message="tns:IPaysService_GetAllPAys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaysService/GetAllPAysResponse" message="tns:IPaysService_GetAllPAys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaysById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaysService/GetPaysById" message="tns:IPaysService_GetPaysById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaysService/GetPaysByIdResponse" message="tns:IPaysService_GetPaysById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaysService" type="tns:IPaysService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPAys">
      <soap:operation soapAction="http://tempuri.org/IPaysService/GetAllPAys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaysById">
      <soap:operation soapAction="http://tempuri.org/IPaysService/GetPaysById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaysService">
    <wsdl:port name="BasicHttpBinding_IPaysService" binding="tns:BasicHttpBinding_IPaysService">
      <soap:address location="http://localhost:6493/PaysService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>